<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <a th:href="@{'/memos/memo'}">
        <h1>Home</h1>
    </a>

    <!--    <div th:replace="head :: nav"></div>-->
    <h2> list of Member </h2>
    <table border="1" width="50%" height="50">
        <thead>
        <tr>
            <th> mno </th>
            <th> memo Text </th>
        </tr>
        </thead>
        <th:block th:each="memo:${memos}">
            <tr>
                <td>
                    <a th:href="@{'/memos/' + ${memo.mno}}">
                        <span th:text="${memo.mno}"></span>
                    </a>
                </td>
                <td> <span th:text="${memo.memoText}"></span> </td>
            </tr>
        </th:block><br/>
    </table>

</body>
</html>